body, body * {
  all: unset;
}

:root {
  --bg-clr: #333;
  --bg-darker: #181818;
  --bg-lighter: #484848;
  --fg-clr: #ccc;
  --fg-darker: #999;
  --fg-lighter: #eee;
  --fg-cyan: #3cc;
  --fg-magenta: #c3c;
  --fg-yellow: #cc3;
  --fg-red: #c66;
  --fg-green: #6c6;
  --fg-blue: #66c;
}

.ns {
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  cursor: pointer;
}

body {
  background-color: var(--bg-clr);
  color: var(--fg-clr);
}

.titlecard {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 10rem;
}

.subtitle {
  display: block;
  text-align: center;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.versionnumber {
  color: var(--fg-lighter);
  font-style: italic;
}

.versionnumber .num {
  color: var(--fg-cyan);
  font-style: normal;
}

.seperator {
  color: var(--fg-lighter);
}

.versionname {
  color: var(--fg-darker);
}

.changelog a {
  color: var(--fg-blue);
}

.changelog a:hover,
.changelog a:focus {
  text-decoration: underline 0.4rem;
}

.leveltypescontainer {
  display: flex;
  margin: 1.5rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.levels {
  flex: 1 1 40rem;
  width: 0;
}

.typename {
  display: block;
  text-align: center;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin-top: 3.5rem;
}

.levelpack, .levelfullwidth {
  display: block;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--bg-lighter);
}

.leveltitle {
  display: block;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 2rem;
}

.leveldisc {
  display: block;
  margin-left: 1rem;
  border-left: solid var(--fg-darker) 0.5rem;
  padding-left: 1rem;
  font-family: 'Grandstander', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--fg-darker);
}

.levelauthor {
  display: block;
  font-family: 'Grandstander', sans-serif;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  text-align: right;
  margin-right: 1rem;
}

.levelauthor::before {
  content: "By ";
}

.levelsmall {
  display: inline-block;
  margin: 0.25rem;
  width: 5rem;
  height: 5rem;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  background-color: var(--fg-darker);
  color: var(--fg-lighter);
  border-radius: 1rem;
  text-align: center;
  vertical-align: center;
  
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* A CSS hack of sorts to make level numbers center align vertically */
.levelsmall::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}