body, body * {
  all: unset;
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --bg-clr: #333;
  --bg-darker: #181818;
  --bg-lighter: #484848;
  --bg-green: #484;
  --fg-clr: #ccc;
  --fg-darker: #999;
  --fg-lighter: #eee;
  --fg-cyan: #3cc;
  --fg-magenta: #c3c;
  --fg-yellow: #cc3;
  --fg-red: #c66;
  --fg-green: #6c6;
  --fg-blue: #66c;
  --mg-clr: #666;
  --mg-darker: #555;
  --mg-lighter: #777;
}

a {
  cursor: pointer;
}

body {
  background-color: var(--bg-clr);
  color: var(--fg-clr);
}

.titlecard {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 10rem;
}

.subtitle {
  display: block;
  text-align: center;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.versionnumber {
  color: var(--fg-lighter);
  font-style: italic;
}

.versionnumber .num {
  color: var(--fg-cyan);
  font-style: normal;
}

.seperator {
  color: var(--fg-lighter);
}

.versionname {
  color: var(--fg-darker);
}

.changelog a {
  color: var(--fg-blue);
}

.changelog a:hover,
.changelog a:focus {
  text-decoration: underline 0.4rem;
}

.leveltypescontainer {
  display: flex;
  margin: 1.5rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.levels {
  flex: 1 1 40rem;
  width: 0;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.levels::-webkit-scrollbar {
  width: 1rem;
}

.levels::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--fg-darker);
}

.typename {
  display: block;
  text-align: center;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin-top: 3.5rem;
}

.levelpack, .levelfullwidth {
  position: relative;
  display: block;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--bg-lighter);
  border-bottom: 0.75rem solid var(--bg-darker);
}

.leveltitle {
  display: block;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 2rem;
}

.leveldisc {
  display: block;
  margin-left: 1rem;
  border-left: solid var(--fg-darker) 0.5rem;
  padding-left: 1rem;
  font-family: 'Grandstander', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--fg-darker);
}

.levelauthor {
  display: block;
  font-family: 'Grandstander', sans-serif;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  text-align: right;
  margin-right: 1rem;
}

.levelauthor::before {
  content: "By ";
}

.levelsmall {
  display: inline-block;
  margin: 0.25rem;
  width: 5rem;
  height: 5rem;
  font-family: 'Grandstander', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  background-color: var(--fg-darker);
  color: var(--fg-lighter);
  border-radius: 1rem;
  text-align: center;
  border-bottom: 0.75rem solid var(--mg-clr);
  cursor: pointer;
}

.levelsmall.completed {
  background-color: var(--fg-clr);
  color: white;
  border-bottom: 0.75rem solid var(--bg-green);
}

.levelsmall:hover, .levelsmall:focus {
  border-bottom-width: 0.375rem;
  transform: translate( 0, 0.375rem );
  color: var(--fg-blue);
}

/* A CSS hack of sorts to make level numbers center align vertically */
.levelsmall::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.leveltoolbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.iconbutton {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.iconbutton.play     { background-image: url(assets/icons/play-solid.svg);          }
.iconbutton.edit     { background-image: url(assets/icons/edit-solid.svg);          }
.iconbutton.download { background-image: url(assets/icons/file-download-solid.svg); }
.iconbutton.delete   { background-image: url(assets/icons/trash-alt-solid.svg);     }
.iconbutton.new      { background-image: url(assets/icons/plus-square-solid.svg);   }
.iconbutton.newpack  { background-image: url(assets/icons/folder-plus-solid.svg);   }
.iconbutton.upload   { background-image: url(assets/icons/file-upload-solid.svg);   }
.iconbutton.archive  { background-image: url(assets/icons/archive-solid.svg);       }
.iconbutton.copy     { background-image: url(assets/icons/copy-solid.svg);          }

.iconbutton:not(:hover):not(:focus) {
  filter: grayscale(1) brightness(10000%) brightness(75%);
}

.iconbutton:hover, .iconbutton:focus {
  animation: wiggle 0.75s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg);  }
   25% { transform: rotate(5deg);  }
   75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg);  }
}

.flag {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(assets/icons/flag-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(10deg);
  filter: grayscale(1);
  opacity: 25%;
}

.flag.completed {
  filter: none;
  opacity: 100%;
}

.experimental {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(assets/icons/flask-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle
}

.experimental:hover::after {
  position: absolute;
  left: 50%;
  top: -6.5rem;
  transform: translate(-50%,0);
  content: 'This version of Bounce is experimental and may be unstable';
  display: inline-block;
  width: 15rem;
  height: 3rem;
  padding: 1rem;
  background-color: var(--bg-lighter);
  font-size: 1rem;
  border-radius: 1rem;
}

.experimental:hover:before {
  position: absolute;
  left: 50%;
  top: -2.5rem;
  content: '';
  background-color: var(--bg-lighter);
  width: 2rem;
  height: 2rem;
  transform: translate(-50%) rotate(45deg);
}

.levelstoolbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.backbutton {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  background-image: url(assets/icons/reply-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.backbutton:hover, .backbutton:focus {
  filter: brightness(1000%);
  animation: shuffle-horz 0.75s infinite;
}

@keyframes shuffle-horz {
    0% { transform: translate(0);     }
   25% { transform: translate(3px);  }
   75% { transform: translate(-3px); }
  100% { transform: translate(0);     }
}

.gamescreen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}